body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eef2f7;
  margin: 0;
}

header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
  color: #2c3e50;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #3498db;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

.output {
  margin-top: 15px;
  padding: 10px;
  background: #f4f6f9;
  border-radius: 6px;
}
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.doctor-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.doctor-card {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.doctor-card:hover {
  transform: translateY(-5px);
}

.doctor-card h3 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.doctor-card p {
  color: #666;
}
.success-box {
  margin-top: 15px;
  padding: 15px;
  border-radius: 10px;
  background: #e8f8ee;
  border-left: 5px solid #28a745;
}

.success-box h3 {
  color: #28a745;
  margin-bottom: 10px;
}

.success-box p {
  margin: 5px 0;
}
